@import url('https://fonts.cdnfonts.com/css/kanit');

                
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kanit' , sans-serif;
}
.app-container{
  text-align: center;
}
p{
  color: var(--black, #252525);
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  text-transform: capitalize;
}
button{
  width: 100px;
  border-radius: 5px;
  background: var(--purple, #6C63FF);
  padding: 10px;
  border: none;
  color: #fff;
}